body {
  background-color: #f5f5f5;
}

.todo {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.todo__header {
  font-size: 64pt;
  text-align: center;
  color: rgba(178, 46, 46, 0.15);
}

.todo__frame {
  background-color: white;
}

.todo__new {
  border: 1px solid white;

  input {
    border: 12px transparent;
    line-height: 2em;
  }
}

.todo__todos {
  position: relative;
  width: 100%;
}
.todo__todo-items {
  list-style: none;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

.todo__item {
  $itemHeight: 40px;

  position: relative;
  width: 100%;

  display: block;
  vertical-align: middle;
  height: $itemHeight;

  input[type="text"] {
    display: block;
    border: 0;
    padding: 0;
    height: $itemHeight;
    line-height: $itemHeight;
    width: 100%;
    margin-left: $itemHeight;
    margin-right: $itemHeight;
  }

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    height: $itemHeight;
    width: $itemHeight;
    line-height: $itemHeight;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align:middle;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    height: $itemHeight;
    width: $itemHeight;
    line-height: $itemHeight;
    border: 0;
    margin: 0;
    padding: 0;
  }

  label {
    display: block;
    height: $itemHeight;
    line-height: $itemHeight;
    vertical-align:middle;
    width: 100%;
    margin-left: $itemHeight;
    margin-right: $itemHeight;
  }
}

.todo__footer {

}

.todo__footer-group {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    display: inline-block;
    width: 33%;
  }
}

.todo__footer-button-group {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}

.todo__filter {
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: white;

  &--selected {
    border: 1px solid rgba(178, 46, 46, 0.15);
  }

  &:hover {
    border: 1px solid rgba(178, 46, 46, 0.10);
  }
}