.tetris {
  background-color: white;
}

.tetris__board {
  display: inline-block;
  background-color: lightgray;
}

.tetris__panel {
  display: inline-block;
  vertical-align: top;
}

.tetris__row {
  height: 32px;
  display: block;
}

.tetris__cell {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  display: inline-block;
  background-color: transparent;
  border: 1px solid ghostwhite;

  &--empty {

  }

  &--filled {
    background-color: orange;
  }
}
.tetris__preview {
  display: inline-block;

  .tetris__row {
    height: 16px;
  }

  .tetris__cell {
    width: 16px;
    height: 16px;
  }
}
